package component

// This template is used to render the page actions.
templ PageActionsContainer(actionButtons templ.Component) {
	<div id="wl-page-actions-container" class="d-flex px-2">
		@actionButtons
	</div>
}
