package components

templ PagingControl(hasPrevPage bool, prevPageUrl templ.SafeURL,
	hasNextPage bool, nextPageUrl templ.SafeURL) {
	<div class="wl-list-page-buttons">
		if hasPrevPage {
			<div class="wl-list-page-button-prev">
				<a class="btn btn-light" href={ prevPageUrl }>{ getText("actionPrevious") }</a>
			</div>
		}
		if hasNextPage {
			<div class="wl-list-page-button-next">
				<a class="btn btn-light" href={ nextPageUrl }>{ getText("actionNext") }</a>
			</div>
		}
	</div>
}
