@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.woff2') format('woff2'),
       url('../font/fontello.woff') format('woff'),
       url('../font/fontello.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
 
.icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  line-height: initial;
}
 
.icon-copy:before { content: '\e800'; }
.icon-edit:before { content: '\e801'; }
.icon-delete:before { content: '\e802'; }
.icon-back:before { content: '\e803'; }

