package pages

import (
	"kellnhofer.com/work-log/web/model"
	"kellnhofer.com/work-log/web/view/components"
)

// This template is used to render the full error page.
templ ErrorPage(err *model.Error) {
	@Page() {
		@components.ErrorView(err.ErrorMessage)
	}
}
