package pages

import (
	"kellnhofer.com/work-log/web/view/components"
	"kellnhofer.com/work-log/web/model"
)

// This template is used to render the full log page.
templ Log(userInfo *model.UserInfo, summary *model.LogSummary, listEntries *model.ListEntries) {
	@MainPage() {
		@components.NavBar("log", components.LogActions(), userInfo.IconSvg)
		@mainPageContent() {
			@components.LogContent(summary, listEntries)
		}
	}
}
