package pages

import (
	"kellnhofer.com/work-log/web/view/components"
	"kellnhofer.com/work-log/web/model"
)

// This template is used to render the full overview page.
templ Overview(userInfo *model.UserInfo, overviewEntries *model.OverviewEntries) {
	@MainPage() {
		@components.NavBar("overview", components.OverviewActions(overviewEntries.CurrMonth),
			userInfo.IconSvg)
		@mainPageContent() {
			@components.OverviewContent(overviewEntries)
		}
	}
}
