package pages

import (
	"kellnhofer.com/work-log/web/view/components"
	"kellnhofer.com/work-log/web/model"
)

// This template is used to render the full search page.
templ Search(userInfo *model.UserInfo, searchEntries *model.SearchEntries) {
	@MainPage() {
		@components.NavBar("search", components.SearchActions(), userInfo.IconSvg)
		@mainPageContent() {
			@components.SearchContent(searchEntries)
		}
	}
}
