package pages

import (
	"kellnhofer.com/work-log/web/view/components"
	"kellnhofer.com/work-log/web/model"
)

// This template is used to render the full search page.
templ Search(userModel *model.UserInfo, model *model.SearchEntries) {
	@MainPage() {
		@components.NavBar("search", components.SearchActions(), userModel.IconSvg)
		@mainPageContent() {
			@components.SearchContent(model)
		}
	}
}
