package pages

import (
	"kellnhofer.com/work-log/web/model"
	"kellnhofer.com/work-log/web/view/components"
)

// This template is used to render the full search page.
templ Search(userInfo *model.UserInfo, errorMessage string, search *model.Search,
	searchEntries *model.SearchEntries) {
	@MainPage() {
		@components.NavBar("search", components.SearchActions(), userInfo.IconSvg)
		@mainPageContent() {
			@components.SearchContent(errorMessage, search, searchEntries)
		}
	}
}
