package pages

templ AuthPage(actionUrl templ.SafeURL) {
	@Page() {
		<div class="wl-auth-container">
			<form class="wl-auth-form" action={ actionUrl } method="POST">
				<img class="mb-4" src="img/app-auth-logo.svg"/>
				{ children... }
			</form>
		</div>
	}
}
