package pages

import (
	"kellnhofer.com/work-log/web/model"
	"kellnhofer.com/work-log/web/components"
)

templ CreateEntryPage(model *model.CreateEntry) {
	@MainPage() {
		@components.ErrorMessageView(model.ErrorMessage)
		@components.EntryForm(toURL(model.PreviousUrl), toURL("/create"),
			model.EntryTypes, model.EntryActivities, model.Entry)
	}
}
