package pages

import (
	"kellnhofer.com/work-log/web/model"
	"kellnhofer.com/work-log/web/components"
)

templ EditEntryPage(model *model.EditEntry) {
	@MainPage() {
		@components.ErrorMessageView(model.ErrorMessage)
		@components.EntryForm(toURL(model.PreviousUrl), toURL("/edit/"+toString(model.Entry.Id)),
			model.EntryTypes, model.EntryActivities, model.Entry)
	}
}
