package pages

import (
	"kellnhofer.com/work-log/web/components"
	"kellnhofer.com/work-log/web/model"
)

templ OverviewEntriesPage(model *model.OverviewEntries) {
	@MainPage() {
		// TODO!!!
		@OverviewEntriesPageContent(model)
	}
}

templ OverviewEntriesPageContent(model *model.OverviewEntries) {
	@components.OverviewMonthButtons(model.PrevMonth, model.NextMonth, model.CurrMonthName)
	@components.OverviewSummaryView(model.Summary)
	@components.OverviewEntryList(model.Days)
}
