package pages

import (
	"kellnhofer.com/work-log/web/components"
	"kellnhofer.com/work-log/web/model"
)

templ SearchEntriesPage(model *model.SearchEntries) {
	@MainPage() {
		// TODO!!!
		@SearchEntriesPageContent(model)
	}
}

templ SearchEntriesPageContent(model *model.SearchEntries) {
	@components.ErrorMessageView(model.ErrorMessage)
	@components.SearchEntryForm(toURL(model.PreviousUrl), toURL("search"), model.EntryTypes,
		model.EntryActivities, model.Search)
}
