{{define "entry_form" -}}
<div class="form-row">
  <div class="form-group col-12 col-sm-4 col-md-3 col-xl-3">
    <label for="type">{{text "formLabelType"}}</label>
    <select class="form-control" name="type">
      {{range .EntryTypes -}}
      <option value="{{.Id}}" {{if eq .Id $.Entry.TypeId}}selected{{end}}>{{.Description}}</option>
      {{end -}}
    </select>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-12 col-sm-4 col-md-3 col-xl-3">
    <label for="date">{{text "formLabelDate"}}</label>
    <input class="form-control" name="date" type="date" value="{{.Entry.Date}}">
  </div>
  <div class="form-group col-6 col-sm-4 col-md-3 col-xl-2">
    <label for="start-time">{{text "formLabelStart"}}</label>
    <input class="form-control" name="start-time" type="time" value="{{.Entry.StartTime}}">
  </div>
  <div class="form-group col-6 col-sm-4 col-md-3 col-xl-2">
    <label for="end-time">{{text "formLabelEnd"}}</label>
    <input class="form-control" name="end-time" type="time" value="{{.Entry.EndTime}}">
  </div>
</div>
<div class="form-row">
  <div class="form-group col-12 col-sm-4 col-md-3 col-xl-3">
    <label for="activity">{{text "formLabelActivity"}}</label>
    <select class="form-control" name="activity">
      {{range .EntryActivities -}}
      <option value="{{.Id}}" {{if eq .Id $.Entry.ActivityId}}selected{{end}}>{{.Description}}</option>
      {{end -}}
    </select>
  </div>
  <div class="form-group col-12 col-sm-8 col-md-9 col-xl-9">
    <label for="description">{{text "formLabelDescription"}}</label>
    <input class="form-control" name="description" type="text" value="{{.Entry.Description}}">
  </div>
</div>
{{end -}}