html {
  height: 100%;
}

body {
  height: 100%;
}

h1 {
  font-size: 1.8em;
  font-weight: 400;
}

h2 {
  font-size: 1.2em;
  font-weight: 400;
}

h3 {
  font-size: 1.0em;
  font-weight: 400;
}

p, th, td {
  font-size: 0.95em;
}

.icon {
  color: #000000;
}

.nowrap {
  white-space: nowrap;
}

.nav-link {
  font-size: 1.2rem;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
}

@media (min-width: 700px) and (min-height: 700px) {
  .btn {
    font-size: 0.9rem;
  }
}

@media (min-width: 700px) and (min-height: 700px) {
  .form-control {
    font-size: 0.9rem;
  }
}

.wl-auth-container {
  height: 100%;
  display: flex;
  padding: 20px;
}

.wl-auth-form {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding-bottom: 40px;
}

.wl-auth-form > img {
  height: 70px;
  display: block;
  margin: 0 auto 0 auto;
}

.wl-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 950px) {
  .wl-container {
    width: 930px;
  }
}

.wl-list-day-target-not-achieved {
  color: #e8ad1e;
}

.wl-list-table-head {
  background-color: #fafafa;
}

.wl-list-table-column-buttons {
  min-width: 120px;
  width: 120px;
}

.wl-list-table-column-type {
  width: 90px;
}

.wl-list-table-column-time {
  width: 60px;
}

.wl-list-table-column-activity {
  width: 120px;
}

.wl-list-table-column-description {
  min-width: 250px;
}

.wl-list-table-row-missing {
  background-color: #fafafa;
}

.wl-list-table-row-overlapping {
  background-color: #ff8585;
}

.wl-overview-summary-table-column-label {
  min-width: 100px;
}

.wl-overview-summary-table-column-hours {
  text-align: right;
}

.wl-overview-table-head {
  background-color: #fafafa;
}

.wl-overview-table-column-date {
  min-width: 90px;
  width: 120px;
}

.wl-overview-table-column-type {
  width: 90px;
}

.wl-overview-table-column-time {
  width: 60px;
}

.wl-overview-table-column-activity {
  width: 120px;
}

.wl-overview-table-column-description {
  min-width: 250px;
}

.wl-overview-table-row-weekend {
  background-color: #fcfcfc;
}
