html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 380;
}

h1 {
  font-size: 1.6em;
  font-weight: 600;
}

h2 {
  font-size: 1.2em;
  font-weight: 600;
}

h3 {
  font-size: 1.0em;
  font-weight: 550;
}

p, th, td, li {
  font-size: 0.95em;
}

.fs-7 {
  font-size: 0.8rem;
}

th {
  font-weight: 550 !important;
}

.fw-bold {
  font-weight: 550 !important;
}

.ico {
  margin-top: -2px;
  width: 14px;
  height: 14px;
  color: var(--bs-black);
}

.ico-large {
  margin-top: -5px;
  width: 20px;
  height: 20px;
  color: var(--bs-black);
}

.nav-link {
  font-size: 1.2rem;
}

.page-link {
  --bs-pagination-color: var(--bs-black);
  font-size: 0.9rem;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  border-style: hidden;
}

.form-control, .form-select {
  font-size: 0.9rem;
}

.btn {
  font-size: 0.9rem;
}

.dropdown-menu {
  --bs-dropdown-padding-y: 0.3rem;
}

.wl-auth-container {
  height: 100%;
  display: flex;
  padding: 20px;
}

.wl-auth-form {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding-bottom: 40px;
}

.wl-auth-form img {
  height: 70px;
  display: block;
  margin: 0 auto 0 auto;
}

.wl-auth-form h1 {
  font-size: 1.7em;
  font-weight: 450;
}

.wl-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 950px) {
  .wl-container {
    width: 930px;
  }
}

.wl-list-day-target-not-achieved {
  color: #e8ad1e;
}

.wl-list-table-head {
  background-color: #fafafa;
}

.wl-list-table-column-buttons {
  min-width: 20px;
  width: 20px;
}

.wl-list-table-column-type {
  width: 90px;
}

.wl-list-table-column-time {
  width: 60px;
}

.wl-list-table-column-activity {
  width: 120px;
}

.wl-list-table-column-description {
  min-width: 250px;
}

.wl-list-table-missing {
  background-color: #fafafa !important;
}

.wl-list-table-overlapping {
  background-color: #ff8585 !important;
}

.wl-overview-summary-table-column-label {
  min-width: 100px;
}

.wl-overview-summary-table-column-hours {
  text-align: right;
}

.wl-overview-table-head {
  background-color: #fafafa;
}

.wl-overview-table-column-date {
  min-width: 90px;
  width: 120px;
}

.wl-overview-table-column-type {
  width: 90px;
}

.wl-overview-table-column-time {
  width: 60px;
}

.wl-overview-table-column-activity {
  width: 120px;
}

.wl-overview-table-column-description {
  min-width: 250px;
}

.wl-overview-table-nonrelevant {
  background-color: #fafafa !important;
}

.wl-overview-table-weekend {
  background-color: #fdfdfd !important;
}
