html {
  height: 100%;
  scrollbar-gutter: stable;
}

body {
  height: 100%;
}

.ico {
  margin-top: -2px;
  width: 14px;
  height: 14px;
}

.ico-large {
  margin-top: -5px;
  width: 20px;
  height: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.ico-spin {
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.delayed-fade-in {
  opacity: 0;
  animation: fade-in 1s ease 0.4s forwards;
}

.table {
  border-style: hidden;
}

.btn-transparent {
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
}

.btn-round {
  --bs-btn-padding-y: 0;
  --bs-btn-padding-x: 0.6rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

@media (min-width: 576px) {
  .border-sm {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  }
}

@media (min-width: 576px) {
  .shadow-sm-sm {
    box-shadow: var(--bs-box-shadow-sm);
  }
}

.wl-container {
  width: 100%;
}

@media (min-width: 950px) {
  .wl-container {
    width: 930px;
  }
}

@media (min-width: 576px) {
  .wl-auth-background {
    position: fixed;
    bottom: 0;
    height: 200%;
    width: 400%;
    transform: translateX(-50%) translateY(60%) rotate(65deg);
    background: linear-gradient(to top, #ffffff77, #ffffffff), url(../img/app-background.svg);
    opacity: 0.6;
  }
}

.wl-auth-form {
  width: 100%;
}

@media (min-width: 400px) {
  .wl-auth-form {
    width: 332px;
  }
}

@media (min-width: 576px) {
  .wl-auth-form {
    width: 350px;
    background: #ffffffff;
  }
}

.wl-auth-form img {
  height: 55px;
}

.wl-auth-form h1 {
  font-size: 1.4em;
  font-weight: 400;
}

.wl-list-day-target-not-achieved {
  color: #e8ad1e;
}

.wl-list-table > thead {
  background-color: #fafafa;
}

.wl-list-table-column-buttons {
  min-width: 20px;
  width: 20px;
}

.wl-list-table-column-type {
  width: 90px;
}

.wl-list-table-column-time {
  width: 60px;
}

.wl-list-table-column-activity {
  width: 120px;
}

.wl-list-table-column-description {
  min-width: 250px;
}

.wl-list-table-missing {
  background-color: #fafafa !important;
}

.wl-list-table-overlapping {
  background-color: #ff8585 !important;
}

.wl-overview-summary-table-column-label {
  min-width: 100px;
}

.wl-overview-summary-table-column-hours {
  text-align: right;
}

.wl-overview-table > thead {
  background-color: #fafafa;
}

.wl-overview-table-column-date {
  min-width: 90px;
  width: 120px;
}

.wl-overview-table-column-type {
  width: 90px;
}

.wl-overview-table-column-time {
  width: 60px;
}

.wl-overview-table-column-activity {
  width: 120px;
}

.wl-overview-table-column-description {
  min-width: 250px;
}

.wl-overview-table-nonrelevant {
  background-color: #fafafa !important;
}

.wl-overview-table-weekend {
  background-color: #fdfdfd !important;
}
