package components

// This template is used to render a error.
templ ErrorView(errorMessage string) {
	<h1>{ getText("errorTitle") }</h1>
	<p>{ errorMessage }</p>
}

// This template is used to render a error message.
templ ErrorMessage(errorMessage string) {
	if errorMessage != "" {
		<p class="alert alert-danger">{ errorMessage }</p>
	}
}
