{{template "header" .}}
<div class="wl-container">
  <div class="wl-header">
    <a class="wl-header-back-button" href="{{.PreviousUrl}}"><i class="icon icon-back" aria-label="Zurück"></i></a>
    <h1>Kopieren</h1>
  </div>
  {{if ne .ErrorMessage "" -}}
  <p class="alert alert-danger">{{.ErrorMessage}}</p>
  {{end -}}
  <form action="/copy/{{.Entry.Id}}" method="POST">
    {{template "entry_form" .}}
    <div class="wl-form-buttons">
      <a class="btn btn-light wl-form-button" href="{{.PreviousUrl}}">Abbrechen</a>
      <button class="btn btn-primary wl-form-button" type="submit">Speichern</button>
    </div>
  </form>
</div>
{{template "footer" .}}