{{template "header" .}}
<a href="{{.PreviousUrl}}">Zurück</a>
<h1>Bearbeiten</h1>
{{if ne .ErrorMessage "" -}}
<p>{{.ErrorMessage}}</p>
{{end -}}
<form action="/edit/{{.Entry.Id}}" method="POST">
  {{template "entry_form" .}}
  <button type="submit">Speichern</button>
</form>
{{template "footer" .}}