{{define "entry_form" -}}
<div>
  <label for="type">Art:</label>
  <select name="type">
    {{range .EntryTypes -}}
    <option value="{{.Id}}" {{if eq .Id $.Entry.TypeId}}selected{{end}}>{{.Description}}</option>
    {{end -}}
  </select>
</div>
<div>
  <label for="date">Datum:</label>
  <input name="date" type="date" value="{{.Entry.Date}}">
</div>
<div>
  <label for="start-time">Start:</label>
  <input name="start-time" type="time" value="{{.Entry.StartTime}}">
  <label for="end-time">Ende:</label>
  <input name="end-time" type="time" value="{{.Entry.EndTime}}">
  <label for="break-duration">Pause:</label>
  <input name="break-duration" type="number" min="0" value="{{.Entry.BreakDuration}}">
</div>
<div>
  <label for="activity">Tätigkeit:</label>
  <select name="activity">
    {{range .EntryActivities -}}
    <option value="{{.Id}}" {{if eq .Id $.Entry.ActivityId}}selected{{end}}>{{.Description}}</option>
    {{end -}}
  </select>
</div>
<div>
  <label for="description">Beschreibung:</label>
  <input name="description" type="text" value="{{.Entry.Description}}">
</div>
{{end -}}