{{template "header" .}}
<div class="wl-container">
  <div class="wl-header">
    <h1>Einträge</h1>
    <div class="wl-header-action-buttons">
      <a class="btn btn-primary wl-header-action-button" href="../create">Erstellen</a>
      <a class="btn btn-light wl-header-action-button" href="../search">Suchen</a>
      <a class="btn btn-light wl-header-action-button" href="../logout">Abmelden</a>
    </div>
  </div>
  {{if .Summary -}}
  <div class="alert alert-primary alert-dismissible wl-list-alert" role="alert">
    <h2>Arbeitszeitkonto:</h2>
    <p><span class="nowrap">Überstunden: {{.Summary.OvertimeHours}} Stunden</span> - <span class="nowrap">Resturlaubstage: {{.Summary.RemainingVacationDays}} Tage</span></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Schließen"><span aria-hidden="true">×</span></button>
  </div>
  {{end -}}
  {{if gt (len .Days) 0 -}}
  {{template "entries_list" .}}
  {{else -}}
  <p class="wl-list-no-entries-label">keine Einträge vorhanden</p>
  {{end -}}
  <div class="wl-list-page-buttons">
    {{if .HasPrevPage -}}
    <div class="wl-list-page-button-prev">
      <a class="btn btn-light" href="list?page={{.PrevPageNum}}">Vorherige</a>
    </div>
    {{end -}}
    {{if .HasNextPage -}}
    <div class="wl-list-page-button-next">
      <a class="btn btn-light" href="list?page={{.NextPageNum}}">Nächste</a>
    </div>
    {{end -}}
  </div>
</div>
<script>
  function approveDeletion() {
    return confirm("Wollen Sie den Eintrag wirklich löschen?");
  }
</script>
{{template "footer" .}}