{{template "header" .}}
<div class="wl-container">
  <div class="wl-header">
    <a class="wl-header-back-button" href="{{.PreviousUrl}}"><i class="icon icon-back" aria-label="{{text "actionBack"}}"></i></a>
    <h1>{{text "searchListTitle"}}</h1>
  </div>
  {{if gt (len .Days) 0 -}}
  {{template "entries_list" .}}
  {{else -}}
  <p class="wl-list-no-entries-label">{{text "searchListLabelNoEntries"}}</p>
  {{end -}}
  <div class="wl-list-page-buttons">
    {{if .HasPrevPage -}}
    <div class="wl-list-page-button-prev">
      <a class="btn btn-light" href="search?page={{.PrevPageNum}}&query={{.Query}}">{{text "actionPrevious"}}</a>
    </div>
    {{end -}}
    {{if .HasNextPage -}}
    <div class="wl-list-page-button-next">
      <a class="btn btn-light" href="search?page={{.NextPageNum}}&query={{.Query}}">{{text "actionNext"}}</a>
    </div>
    {{end -}}
  </div>
</div>
{{template "footer" .}}