{{template "header" .}}
<div>
  <a href="../create">Erstellen</a>
  <a href="../logout">Abmelden</a>
</div>
<h1>Einträge</h1>
{{range .ListDays -}}
<p>{{.Date}} - {{.Weekday}} - {{.WorkDuration}}</p>
<table>
  <thead>
    <tr>
      <th scope="col">Art</th>
      <th scope="col">Start</th>
      <th scope="col">Ende</th>
      <th scope="col">Pause</th>
      <th scope="col">Netto</th>
      <th scope="col">Tätigkeit</th>
      <th scope="col">Beschreibung</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{range .ListEntries -}}
    <tr>
      <td>{{.EntryType}}</td>
      <td>{{.StartTime}}</td>
      <td>{{.EndTime}}</td>
      <td>{{.BreakDuration}}</td>
      <td>{{.WorkDuration}}</td>
      <td>{{.EntryActivity}}</td>
      <td>{{.Description}}</td>
      <td><a href="../edit/{{.Id}}">Bearbeiten</td>
      <td><a href="../copy/{{.Id}}">Kopieren</td>
      <td><form action="../delete/{{.Id}}" method="POST"><button type="submit">Löschen</button></form></td>
    </tr>
    {{end -}}
  </tbody>
</table>
{{end -}}
{{if .HasPrevPage -}}
<a href="{{.PrevPageNum}}">Vorherige</p>
{{end -}}
{{if .HasNextPage -}}
<a href="{{.NextPageNum}}">Nächste</p>
{{end -}}
{{template "footer" .}}