{{template "header" .}}
<div class="wl-container">
  <div class="wl-header">
    <a class="wl-header-back-button" href="{{.PreviousUrl}}"><i class="icon icon-back" aria-label="Zurück"></i></a>
    <h1>Übersicht</h1>
    <div class="wl-header-action-buttons">
      <a class="btn btn-primary wl-header-action-button" href="overview/export?month={{.CurrMonth}}">Exportieren</a>
    </div>
  </div>
  <div class="wl-overview-month-buttons">
    <a class="btn btn-light" href="overview?month={{.PrevMonth}}">&lt;</a>
    <span class="wl-overview-month-title">{{.CurrMonthName}}</span>
    <a class="btn btn-light" href="overview?month={{.NextMonth}}">&gt;</a>
  </div>
  <div class="wl-overview-summary-table-title">
    <h2>Zusammenfassung:</h2>
  </div>
  <div class="table-responsive table-responsive-xl wl-overview-summary-table">
    <table class="table table-sm">
      <tr>
        <th class="wl-overview-summary-table-label">Soll:</td>
        <td class="wl-overview-summary-table-hours">{{.Summary.TargetHours}} Stunden</td>
      </tr>
      <tr>
        <th class="wl-overview-summary-table-label">Ist:</td>
        <td class="wl-overview-summary-table-hours">{{.Summary.ActualHours}} Stunden</td>
      </tr>
      <tr>
        <th class="wl-overview-summary-table-label">Saldo:</td>
        <td class="wl-overview-summary-table-hours">{{.Summary.BalanceHours}} Stunden</td>
      </tr>
    </table>
  </div>
  <div class="table-responsive table-responsive-xl wl-overview-summary-table">
    <table class="table table-sm">
      <tr>
        <th class="wl-overview-summary-table-label">{{.Summary.WorkDescription}}:</th>
        <td class="wl-overview-summary-table-hours">{{.Summary.ActualWorkHours}} Stunden</td>
      </tr>
      <tr>
        <th class="wl-overview-summary-table-label">{{.Summary.TravelDescription}}:</th>
        <td class="wl-overview-summary-table-hours">{{.Summary.ActualTravelHours}} Stunden</td>
      </tr>
      <tr>
        <th class="wl-overview-summary-table-label">{{.Summary.VacationDescription}}:</th>
        <td class="wl-overview-summary-table-hours">{{.Summary.ActualVacationHours}} Stunden</td>
      </tr>
      <tr>
        <th class="wl-overview-summary-table-label">{{.Summary.HolidayDescription}}:</th>
        <td class="wl-overview-summary-table-hours">{{.Summary.ActualHolidayHours}} Stunden</td>
      </tr>
      <tr>
        <th class="wl-overview-summary-table-label">{{.Summary.IllnessDescription}}:</th>
        <td class="wl-overview-summary-table-hours">{{.Summary.ActualIllnessHours}} Stunden</td>
      </tr>
      <tr>
        <th class="wl-overview-summary-table-label"></th>
        <td class="wl-overview-summary-table-hours">{{.Summary.ActualHours}} Stunden</td>
      </tr>
    </table>
  </div>
  <div class="wl-overview-table-title">
    <h2>Einträge:</h2>
    <form action="overview" method="POST">
      <input name="month" type="hidden" value="{{.CurrMonth}}">
      <input class="checkbox" name="show-details" type="checkbox" {{if .ShowDetails}}checked{{end}} onChange="this.form.submit()">
      <label class="checkbox-label" for="show-details">zeige Tätigkeiten</label>
    </form>
  </div>
  <div class="table-responsive table-responsive-xl wl-overview-table">
    <table class="table table-sm">
      <thead>
        <tr class="wl-overview-table-head">
          <th class="wl-overview-table-column-date" scope="col">Datum</th>
          <th class="wl-overview-table-column-type" scope="col">Art</th>
          <th class="wl-overview-table-column-time" scope="col">Start</th>
          <th class="wl-overview-table-column-time" scope="col">Ende</th>
          <th class="wl-overview-table-column-time" scope="col">Pause</th>
          <th class="wl-overview-table-column-time" scope="col">Netto</th>
          {{if $.ShowDetails -}}
          <th class="wl-overview-table-column-activity" scope="col">Tätigkeit</th>
          <th class="wl-overview-table-column-description" scope="col">Beschreibung</th>
          {{else -}}
          <th scope="col"></th>
          <th scope="col"></th>
          {{end -}}
        </tr>
      </thead>
      <tbody>
        {{range $di, $day := .Days -}}
        {{if eq (len $day.Entries) 0 -}}
        <tr {{if $day.IsWeekendDay}}class="wl-overview-table-row-weekend"{{end}}>
          <td class="wl-overview-table-text">{{$day.Weekday}} {{$day.Date}}</td>
          <td class="wl-overview-table-text">-</td>
          <td class="wl-overview-table-text">-</td>
          <td class="wl-overview-table-text">-</td>
          <td class="wl-overview-table-text">-</td>
          <td class="wl-overview-table-text">-</td>
          <td class="wl-overview-table-text"></td>
          <td class="wl-overview-table-text"></td>
        </tr>
        {{else -}}
        {{range $ei, $entry := $day.Entries -}}
        <tr {{if $day.IsWeekendDay}}class="wl-overview-table-row-weekend"{{end}}>
          {{if eq $ei 0 -}}
          <td class="wl-overview-table-text">{{$day.Weekday}} {{$day.Date}}</td>
          {{else -}}
          <td class="wl-overview-table-text"></td>
          {{end -}}
          <td class="wl-overview-table-text">{{$entry.EntryType}}</td>
          <td class="wl-overview-table-text">{{$entry.StartTime}}</td>
          <td class="wl-overview-table-text">{{$entry.EndTime}}</td>
          <td class="wl-overview-table-text">{{$entry.BreakDuration}}</td>
          <td class="wl-overview-table-text">{{$entry.WorkDuration}}</td>
          <td class="wl-overview-table-text">{{$entry.EntryActivity}}</td>
          <td class="wl-overview-table-text">{{$entry.Description}}</td>
        </tr>
        {{end -}}
        {{end -}}
        {{if gt (len $day.Entries) 1 -}}
        <tr {{if $day.IsWeekendDay}}class="wl-overview-table-row-weekend"{{end}}>
          <td class="wl-overview-table-text"></td>
          <td class="wl-overview-table-text"></td>
          <td class="wl-overview-table-text"></td>
          <td class="wl-overview-table-text"></td>
          <td class="wl-overview-table-text">{{$day.BreakDuration}}</td>
          <td class="wl-overview-table-text">{{$day.WorkDuration}}</td>
          <td class="wl-overview-table-text"></td>
          <td class="wl-overview-table-text"></td>
        </tr>
        {{end -}}
        {{end -}}
      </tbody>
    </table>
  </div>
</div>
{{template "footer" .}}