{{template "header" .}}
<div class="wl-login-container">
  <form class="wl-login-form" action="/login" method="POST">
    <div>
      <img class="wl-login-app-logo" src="img/app-logo.png">
      <h1 class="wl-login-app-name">{{text "appName"}}</h1>
    </div>
    <h2 class="wl-login-form-title">{{text "loginTitle"}}</h2>
    {{if ne .ErrorMessage "" -}}
    <p class="alert alert-danger">{{.ErrorMessage}}</p>
    {{end -}}
    <div class="form-group">
      <label for="username">{{text "loginLabelUsername"}}</label>
      <input class="form-control" name="username" type="text">
    </div>
    <div class="form-group">
      <label for="password">{{text "loginLabelPassword"}}</label>
      <input class="form-control" name="password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">{{text "loginActionLogin"}}</button>
  </form>
</div>
{{template "footer" .}}