{{template "header" .}}
<div class="wl-login-container">
  <form class="wl-login-form" action="/password-change" method="POST">
    <div>
      <img class="wl-login-app-logo" src="img/app-logo.png">
      <h1 class="wl-login-app-name">{{text "appName"}}</h1>
    </div>
    <h2 class="wl-login-form-title">{{text "pwChangeTitle"}}</h2>
    <p class="wl-login-form-message">{{text "pwChangeMessage"}}</p>
    {{if ne .ErrorMessage "" -}}
    <p class="alert alert-danger">{{.ErrorMessage}}</p>
    {{end -}}
    <div class="form-group">
      <label for="password1">{{text "pwChangeLabelPassword1"}}</label>
      <input class="form-control" name="password1" type="password">
    </div>
    <div class="form-group">
      <label for="password2">{{text "pwChangeLabelPassword2"}}</label>
      <input class="form-control" name="password2" type="password">
    </div>
    <button class="btn btn-primary" type="submit">{{text "pwChangeActionSet"}}</button>
  </form>
</div>
{{template "footer" .}}